/* 
This file is not being used currently...
.modal-dialog {
    /* max-width: 90%; Limit the width to 90% of the viewport width 
    
    margin: 0.5rem auto;
    border: 2px solid red;
  }
  
  .modal-content {
    width: auto; /* Maintains the image aspect ratio */
    /* overflow-y: auto; Allows scrolling inside the modal if the content is too long 
    max-height: 90vh; /* Limits the height of the modal to 90% of the viewport height 
  }
  
  .modal-body img {
    max-height: 80vh; /* Ensures the image does not exceed 80% of the viewport height 
    width: auto; /* Maintains the image aspect ratio 
    max-width: 100%; /* Ensures the image does not exceed the width of the modal 
  } 
  */

  .modal-content {
    overflow: hidden; /* Ensures no scrollbars appear if the image fits within the modal */
  }
  
  .modal-body {
    padding: 5px; /* Adjust modal body padding to match the desired margin around the image */
    display: flex; /* Using flex to center the image */
    justify-content: center;
    align-items: center;
  }
  
  .modal-body img {
    max-height: calc(100vh - 10px); /* 100% of the viewport height minus double the margin */
    max-width: calc(100% - 10px); /* 100% of the modal body width minus double the margin */
  }
  
  